.basket {
  display: flex;
  justify-content: center;
  margin: 20px 40px;

  &-wrapper {
    width: 1280px;
    height: 100%;
    background: hsl(0, 0%, 93%);
  }

  &-select {
    width: 155px;

    &__delete {
      margin-left: 40px;
      height: 30px;
      cursor: pointer;
      color: #e44747;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    width: 100%;
    justify-content: space-between;
  }

  &-header {
    display: flex;
    align-items: center;
  }

  &-delivery {
    background: #fff;
    padding: 5px 10px;
  }

  &-content {
    display: flex;
    justify-content: space-between;

    &__right {
      background: #dbdbdb;
      height: 100%;
      margin-top: 12px;
      padding: 10px 60px 10px 20px;

      &-title {
        font-weight: 400;
        font-family: "Gerbera-Medium";
        margin-bottom: 18px;
      }

      &-step {
        margin-bottom: 10px;

        &__number {
          color: #757575;
        }

        &__info {
          margin-top: 8px;
          color: #a77c7c;
        }
      }

      &-total {
        margin-top: 5px;
        font-size: 17px;
        font-family: "Gerbera-Medium";
      }
    }
  }

  &-product {
    display: flex;
    justify-content: space-between;
    height: 280px;

    background: #fff;
    padding: 10px;
    margin-left: 40px;
    margin-bottom: 20px;

    &__img {
      div {
        img {
          cursor: pointer;
          max-width: 100%;
          object-fit: none;
          max-height: 100%;
          height: 259px;
          width: 212px;
        }
      }
    }

    &__title {
      font-size: 22px;
    }

    &__info {
      // margin-left: 40px;
      display: flex;
      flex-direction: column;

      &-top {
        display: flex;
      }

      &-bottom {
        display: flex;
        margin-top: 120px;
      }

      &-right {
        margin-left: 80px;
        margin-right: 40px;
      }
    }

    &__title {
      margin-bottom: 20px;
    }

    &__color {
      color: #848484;
    }

    &__size {
      color: #848484;
    }

    &__price {
      font-size: 22px;
      color: #e44747;
    }

    &__count {
      display: flex;
      align-items: center;

      > span {
        font-size: 18px;
      }
    }

    &__wishlist {
      cursor: pointer;
      font-size: 20px;
      color: #848484;
    }

    &__delete {
      cursor: pointer;
      font-size: 20px;
      margin-left: 20px;
      color: #e44747;
    }
  }
}

/* The checkbox checkbox-container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #111;
}

/* On mouse-over, add a grey background color */
.checkbox-checkbox-container input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #333;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

// Tabs

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 730px;
  height: 300px;
  background: #f4f4f4;
  margin: 0 0 80px 40px;
  word-break: break-all;
}

.block-tabs {
  display: flex;
}

.p-tabs {
  padding: 15px;
  text-align: center;
  width: 100%;
  background: #f4f4f4;
  cursor: pointer;
  border-bottom: 1px solid #b16363;
  box-sizing: content-box;
  position: relative;
  outline: none;
  font-size: 16px;

  background: #f4f4f4;
  border-top: 1px solid #b16363;
  border-right: 1px solid #b16363;
  border-left: 1px solid #b16363;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: #f4f4f4;
  cursor: pointer;
  border-bottom: 1px solid #b16363;
  box-sizing: content-box;
  position: relative;
  outline: none;
  font-size: 16px;
}

.active-tabs {
  background: #f4f4f4;
  border-bottom: 1px solid transparent;
  border-right: 1px solid #b16363;
  border-left: 1px solid #b16363;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100%);
  height: 1px;
  background: #b16363;
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
  border-left: 1px solid #b16363;
  border-right: 1px solid #b16363;
  border-bottom: 1px solid #b16363;

  &__info {
    display: flex;
    justify-content: space-between;

    div {
      margin-bottom: 5px;

      div {
        display: flex;
      }
    }

    span {
      color: #383838;
    }

    .underline-red {
      cursor: pointer;
      height: 100%;
    }

    &-cart {
      margin-top: 10px;
    }

    &-choose {
      margin-bottom: 10px;
    }

    &-input {
      border-radius: 1px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 2px 5px;
      margin-left: 10px;
      font-size: 14px;
    }

    &-label {
      font-size: 17px;
    }
  }
}
.content {
  background: #f4f4f4;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  margin-top: 10px;
}
.active-content {
  display: block;
}

// Radio styles

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  width: 18px;
  height: 18px;
  border: 1px solid red;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: red;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
